<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB-Home</title>
    <link rel="stylesheet" href="output.css">
</head>
<body>
    <h1 class="text-blue-600">Welcome to AirBnb</h1>
    <a href="/host/add-home">Add Home</a>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tailwind Test</title>
  <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <h1 class="text-4xl font-bold text-blue-600 text-center mt-10">Welcome to AirBnb</h1>
</body>
</html>
